<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <h1>Add Product</h1>
            </div>
            <div class="card-body">
                <form #userPost="ngForm">
                    <div class="mb-3">
                        <label for="profileImg">
                            <img [src]="
                            product.imgUrl ||
                                  'http://www.gravatar.com/avatar/61dc3c45c69df368f1a4452b3c4843bb?s=200&r=pg&d=mm'
                                " alt="" class="img-fluid rounded form-control" style="height: 100%;" />
                            <a class="d-block">Upload Picture</a>
                        </label>
                        <input type="file" id="profileImg" class="form-control" accept="image/*" style="display: none"
                            (change)="onUpload($event)">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Title" name="title"
                            [(ngModel)]="product.title" required minlength="3" #ptitle="ngModel"
                            [ngClass]="{ 'is-invalid': ptitle.errors && ptitle.touched }">
                        <div class="invalid-feedback">(Title is Required)</div>
                    </div>
                    <div class="mb-3">
                        <input type="number" numbersOnly class="form-control" placeholder="Price" name="price"
                            [(ngModel)]="product.price" required minlength="2" #pprice="ngModel"
                            [ngClass]="{ 'is-invalid': pprice.errors && pprice.touched }">
                        <div class="invalid-feedback">(Price is Required)</div>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="5" placeholder="Description" name="desc"
                            [(ngModel)]="product.desc" required minlength="5" #pdesc="ngModel"
                            [ngClass]="{ 'is-invalid': pdesc.errors && pdesc.touched }"></textarea>
                        <div class="invalid-feedback">(Description is Required)</div>
                    </div>
                    <button class="btn btn-primary" (click)="onCreateProduct()" [disabled]="!userPost.valid">
                        {{id ? 'Update Product': 'Add Product'}}</button>
                </form>
            </div>
        </div>
    </div>
</div>